{% extends 'pages/index.html' %}
{% load static %}
<title>{% block title %}Courses{% endblock %}</title>
{% block content %}
    {% include 'pages/navbar.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bsitlogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSIT</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bscslogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSCS</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bspyschlogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSP</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bscrimlogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSCRIM</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bshmlogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSHM</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card card-custom">
                    <img src="{% static 'images/bselogo.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BSE</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
