{% extends 'pages/index.html' %}

{% block title %}HOME PAGE{% endblock %}


{% block content %}
    {% include 'pages/navbar.html' %}
    <div class="home-container">
        <div class="side-home">
            <h1 class="title">CAVITE STATE <br> UNIVERSITY</h1>
            <p class="intro-text">
                The premier university in historic Cavite globally recognized for excellence in character development, academics, research, innovation, and sustainable community engagement. Mithiin ng Pamantasan.
            </p>
            <button type="button" class="btn btn-success">Get Started</button>
        </div>
    </div>
{% endblock %}

