{% extends 'pages/admin_base.html' %}
{% load static %}

{% block content %}
    {% include 'pages/navbar.html' %}   
    <div class="register-container-wrapper">
        <div class="register-container">
            <div class="register-form">
                <h2>Register</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}